# etc only variable
etcConfigVar=1000

# EC2 environment (running in EC2)
activemq.host=amq0.openmashvista.net
activemq.port=61616
activemq.concurrentConsumers=10
activemq.maxConnections=8
mirth.host=mirth.openmashvista.net
mirth.receiver.jms.queue=mirth-hl7-out
mirth.sender.mllp.port=6661
mirth.listener.mllp.port=6662
vista.listener.mllp.port=6663

# EC2 environment (running external to EC2)
#activemq.host=amq0.openmashvista.net
#activemq.port=11516
#activemq.concurrentConsumers=10
#activemq.maxConnections=8
#mirth.host=mirth.openmashvista.net
#mirth.receiver.jms.queue=mirth-hl7-out
#mirth.sender.mllp.port=11961
#mirth.listener.mllp.port=6662
#vista.listener.mllp.port=6663

# local dev environment
#activemq.host=localhost
#activemq.port=61616
#activemq.concurrentConsumers=10
#activemq.maxConnections=8
#mirth.host=localhost
#mirth.receiver.jms.queue=mirth-hl7-out
#mirth.sender.mllp.port=6661
#mirth.listener.mllp.port=6662
#vista.listener.mllp.port=6663